html, body {
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
}
nav a {
    margin-right: 0.25em;
    padding: 0.25em;

    background-color: green;
    color: white;
    text-decoration: none;
}
nav a[data-device] span {
    display: block;
}

span[data-device][data-property=id]::before {
    content: '#';
}
span[data-device][data-property=id] {
    text-transform: uppercase;
}

article h1 span::after {
    content: ' ';
}